<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert" >
    <%= flash[:notice] %>
    <% flash.discard(:notice) %>
  </div>
<% end %>

<% if @new_book.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      1 error prohibited this obj from being saved:
    </h4>
    <ul>
      <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "shared/user_info_and_new_book.html.erb", user: @user, new_book: @new_book %>
    </div>
  </div>
</div>