<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%= render "shared/success_message.html.erb" %>
<%= render "shared/error_message.html.erb", new_book: @new_book%>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "shared/user_info_and_new_book.html.erb", user: @user, new_book: @new_book %>
    </div>
  </div>
</div>