<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert" >
    <%= flash[:notice] %>
    <% flash.discard(:notice) %>
  </div>
<% end %>